@import 'src/scss/customSizes';

$base-size-font: 14px;
$base-size-spacing: 15px;
$highlighted-border-width: 4px;

$item-size-font: 13px;

$fill-container-width: $sidebar-max-width - $base-size-containers;

$height-small:  2 * $base-size-containers / 3;
$height-normal: $base-size-containers;
$height-large:  4 * $base-size-containers / 3;
